<div class="main">
<md-card  class="issues-card">
  <md-card-header>
    <md-card-title>JIRA ISSUES</md-card-title>
    <md-card-subtitle>Persistent Memory</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <div class="row">
      <table *ngIf="JiraRoot != null; else elseBlock" class="bordered">
        <thead>
          <tr>
            <th>Key</th><th>ID</th><th>Self</th><th>Status</th><th>Created</th><th>Reporter</th>
          </tr>
        </thead>
        <tbody>
            <tr app-issue [issue]="issue" *ngFor="let issue of JiraRoot.issues"></tr>
        </tbody>
      </table>
      <ng-template #elseBlock>
        <md-progress-bar mode="indeterminate"></md-progress-bar>
      </ng-template>
    </div>
  </md-card-content>
</md-card>
</div>


